h2 {
	color: blue
}
.border{
	margin:50px 300px;
}
.box{
	position:relative;
	font-size:200%;
	display: inline-block;
	margin: 0px 0px;
	width: 200px;
	height: 100px;
	background-color: blue;
}

.box:hover{
	position:relative;
	font-size:200%;
	display: inline-block;
	margin: 0px 0px;
	width: 200px;
	height: 100px;
	background-color: red;
}

.subjects{
	position:absolute;
	bottom:-30px;
	right:5px;
	color: white;
	font-family: 'Rajdhani', sans-serif;
}

